<html>

<body>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <input type="submit" value="Sign Out"/>
    </form>
    <a href="/UsersListPage"> Посмотреть список пользователей</a>
</div>
<div>
    <form action="/Chat/{{addressee}}" method="post">
        <input type="text" name="text" placeholder="Введите сообщение" />
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <button type="submit">Отправить</button>
    </form>
</div>

<div>Список сообщений</div>
{{#messages}}
    <div>
        <strong>{{authorName}}</strong>
        <span>{{text}}</span>
    </div>
{{/messages}}

</body>
</html>
