<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="/logout" method="post">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <input type="submit" value="Sign Out"/>
</form>
<div>Добро пожаловать!</div>
<a href="/UsersListPage">Посмотреть список личных чатов</a>
<a href="/CreateChat">Создать групповой чат</a>
</body>
</html>