<!--
<!DOCTYPE html>
<html>

<body>
<div>
    <form method="post">
        <input type="text" name="text" placeholder="Введите сообщение"/>
        <button type="submit">Добавить</button>


    </form>
</div>
<div>Список ообщений</div>
{{#messages}}
    <div>
        <span>{{text}}</span>
    </div>
{{/messages}}

</body>
</html>-->
